    <div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About US</h1>
                <p class="text-center sub-heading">Our vision is to give a new life</p>
                <div class="row">
                       <div class="col-md-6 col-12 ">
                        <figure>
                            <img src="images/C4.png" alt="image">
                        </figure>

                    </div>
                    
                    {{!-- right side--}}
                    <div class="col-md-6 col-10 order-md-0 order-1 d-flex justify-content-center align-item-start  flex-column">
                        <h1>WE WILL HELP YOU</h1>
                        <p>Welcome to our website,this we site is a vision to help pepole with their mental health. <span class="bold-style">When no one belives you we belive.</span>. <span>If no one is with you we are.</span></p>
                        <button class="btn-style btn-primary">Read more</button>
                    </div >
                 

                </div>
            </div>
        </div>
    </div>