<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Interior Design and Decoration, ​Our Work, ​We design &amp; deliver beautiful hotels, luxury homes and innovative workplace interiors, ​It's time to design your living spaces, ​Design Your Dream Space">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Page 1</title>
    <link rel="stylesheet" href="a.css" media="screen">
<link rel="stylesheet" href="Page-1.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
   
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Page 1">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body">
    <section class="u-clearfix u-image u-section-1" id="carousel_30b2" data-image-width="1280" data-image-height="853" style="background-image: url('images/4d73c1ee180dea32630ff858549fcdd90544b1588c73367d525136bd9c140379aaed480a8e32c94e6a8eab063e107366316e15a17d85753cd156e3_1280.png');">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-left u-container-style u-group u-palette-1-base u-shape-rectangle u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h2 class="u-text u-text-1">Mental Health Consultaion</h2>
            <a  class="u-active-white u-border-2 u-border-white u-btn u-button-style u-hover-white u-none u-text-active-palette-1-base u-text-body-alt-color u-text-hover-palette-1-base u-btn-1" target="_blank">learn more</a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="carousel_daa1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-col">
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-1" data-image-width="1280" data-image-height="854"style="background-image: url('images/2ddfbc80551c1d5aa8eebffd49a331a52d72a37508fe64f92cb0827272dec9929aca30127a4006b11988e3bd23f824242d6aa0f47d755b38aa1fc9_1280.jpg');">
                  <div class="u-container-layout u-container-layout-1"></div>
                </div>
                <div class="u-container-style u-layout-cell u-palette-1-base u-size-20 u-layout-cell-2">
                  <div class="u-container-layout u-container-layout-2">
                    <h5 class="u-align-center u-text u-text-default u-text-1"> SumaitrI</h5>
                    <p class="u-align-center u-text u-text-2"> crisis intervention centre for people experiencing depression or&nbsp;, Sumaitri offers telephonic counselling conducted by trained volunteers, seven days a week, from 2 pm to 6:30 pm.</p>
                    <h3 class="u-align-center u-text u-text-3"> Call: 011-23389090, 09315767849</h3>
                    <a href="https://www.Sumaitri.net" class="u-active-white u-border-2 u-border-white u-btn u-button-style u-hover-white u-none u-text-active-palette-1-base u-text-body-alt-color u-text-hover-palette-1-base u-btn-1" target="_blank">know more</a>
                  </div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-2" data-image-width="626" data-image-height="417" style="background-image: url('images/japanese-print-canvas-being-hung-by-couple_53876-132037.jpg')";>
                  <div class="u-container-layout u-container-layout-3"></div>
                </div>
              </div>
            </div>
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-left-cell u-palette-2-base u-size-20 u-layout-cell-4">
                  <div class="u-container-layout u-container-layout-4">
                    <h5 class="u-align-center u-text u-text-default u-text-4"> NIMHANS</h5>
                    <p class="u-align-center u-text u-text-5"> One of India's most sought-after institutions for&nbsp;mental health&nbsp;and neuroscience education, NIMHANS, Bengaluru, is offering free psychosocial support and mental health services to people experiencing stress, anxiety, fear or any kind of&nbsp;emotional discomfort during the pandemic . A team of professional psychologists and psychiatrists is available to help Indian residents 24 hours a day, through a toll-free number.</p>
                    <h3 class="u-align-center u-text u-text-6"> Call: 080-46110007</h3>
                    <a href="https://www.Nimhans.ac.in/pssmhs-helpline" class="u-active-white u-border-2 u-border-white u-btn u-button-style u-hover-white u-none u-text-active-palette-1-base u-text-body-alt-color u-text-hover-palette-1-base u-btn-2" target="_blank">know more</a>
                  </div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-size-20 u-image-3" data-image-width="626" data-image-height="417" style="background-image: url('images/picture-frame-mockup-psd-retro-sideboard_53876-137777.jpg');">
                  <div class="u-container-layout u-container-layout-5"></div>
                </div>
                <div class="u-align-center u-container-style u-layout-cell u-palette-2-dark-3 u-right-cell u-size-20 u-layout-cell-6">
                  <div class="u-container-layout u-container-layout-6">
                    <h5 class="u-text u-text-default u-text-7"> Mpower 1 on 1</h5>
                    <p class="u-text u-text-8"> In collaboration with the Maharashtra Government and the Brihanmumbai Municipal Corporation (BMC), Mpower has launched a toll-free mental health support helpline at the onset of the pandemic in 2020. Giving you access to trained professionals 24 hours a day, the free service can be availed by anyone above the age of 18.</p>
                    <h3 class="u-align-center u-text u-text-9"> Call: 1800-1208-20050</h3>
                    <a href="https://www.Mpowerminds.com/oneonone" class="u-active-white u-border-2 u-border-white u-btn u-button-style u-hover-white u-none u-text-active-palette-1-base u-text-body-alt-color u-text-hover-palette-1-base u-btn-3" target="_blank">know more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-3" id="carousel_5a9b">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-col">
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-1" data-image-width="1280" data-image-height="906" style="background-image: url('images/caf26e27d33fc0d784952808c811005c4749667ea1ca7557418b5f77152253b664905d8973251f317d3cc0cf031b30177be77037978305cbcc43c0_1280.jpg');">
                  <div class="u-container-layout u-container-layout-1"></div>
                </div>
                <div class="u-container-style u-layout-cell u-palette-1-base u-size-20 u-layout-cell-2">
                  <div class="u-container-layout u-valign-bottom u-container-layout-2">
                    <h5 class="u-align-center u-text u-text-default u-text-1"> Kashmir Lifeline</h5>
                    <p class="u-align-center u-text u-text-2"> If you're in Srinagar or anywhere around the Kashmir Valley, Kashmir Lifeline offers an anonymous one-to-one conversation with a trained professional, free of cost. A project by Healing Minds Foundation, it also gives you the option to seek support through chat or email. The service is open from Sunday to Thursday, 10AM to 5PM.Call: </p>
                    <h3 class="u-align-center u-text u-text-3"> 1800-180-7020</h3>
                    <a href="https://www.Kashmirlifeline.org" class="u-active-white u-border-2 u-border-white u-btn u-button-style u-hover-white u-none u-text-active-palette-1-base u-text-body-alt-color u-text-hover-palette-1-base u-btn-1" target="_blank">Know more</a>
                  </div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-2" data-image-width="1280" data-image-height="853" style="background-image: url('images/148a64bf1ffd14207a634db9c9e0c368da50a479c5e30102492608b8cc5339fef6f86adfdd7708c4ae1dd96c7cfaa8f2d83149c1ebd9eac78b1ce3_1280.jpg');">
                  <div class="u-container-layout u-container-layout-3"></div>
                </div>
              </div>
            </div>
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-left-cell u-palette-2-base u-size-20 u-layout-cell-4">
                  <div class="u-container-layout u-container-layout-4">
                    <h5 class="u-align-center u-text u-text-default u-text-4"> Sneha</h5>
                    <p class="u-align-center u-text u-text-5"> A suicide prevention organisation based in Chennai, Sneha offers&nbsp;emotional support&nbsp;&nbsp;to anyone feeling distressed or suicidal. Run by a group of volunteers, the service is available from 10AM to 10PM every day. The experts at the centre are also providing support through email.</p>
                    <h3 class="u-align-center u-text u-text-6"> Call: 044-24640050, 044-24640060</h3>
                    <a href="https://www.Snehaindia.org/new" class="u-active-white u-border-2 u-border-white u-btn u-button-style u-hover-white u-none u-text-active-palette-1-base u-text-body-alt-color u-text-hover-palette-1-base u-btn-2" target="_blank">Know More</a>
                  </div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-size-20 u-image-3" data-image-width="1280" data-image-height="853" style="background-image: url('images/59e9e4c0ceec5fc969759edc668467e39070b02b3ee3862b53f5fc4a00e406c51128f6ea1e57654f114c7b80b572658ab47cff8e9d92cc360e9a6d_1280.jpg');">
                  <div class="u-container-layout u-container-layout-5"></div>
                </div>
                <div class="u-align-center u-container-style u-layout-cell u-palette-2-dark-3 u-right-cell u-size-20 u-layout-cell-6">
                  <div class="u-container-layout u-container-layout-6">
                    <h5 class="u-text u-text-default u-text-7">IF More Consultation servies required click below.</h5>
                    <a href="https://www.vogue.in/wellness/content/verified-mental-health-helplines-and-services-pan-india-suicide-helplines-therapists-counsellors" class="u-active-white u-border-2 u-border-white u-btn u-button-style u-hover-white u-none u-text-active-palette-1-base u-text-body-alt-color u-text-hover-palette-1-base u-btn-3" target="_blank">More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-palette-1-dark-1 u-section-4" data-image-width="2000" data-image-height="1333" id="sec-3e7e" >
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-20 u-size-30-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
                    <div class="u-container-layout u-valign-top u-container-layout-1">
                      <h3 class="u-text u-text-default u-text-1"> ROSHNI</h3>
                      <p class="u-text u-text-2"> Someone is always there to listen at this Hyderabad-based suicide intervention center. The volunteers here are given intensive training so that they can help you deal with any emotional breakdowns. They are available from Monday to Saturday between 11am to 9pm.</p>
                      <h3 class="u-align-center u-text u-text-3"> Call: ​​​(+914) 066202000</h3>
                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-2">
                    <div class="u-container-layout u-valign-top u-container-layout-2">
                      <h3 class="u-text u-text-default u-text-4"> Arpita Foundation</h3>
                      <p class="u-text u-text-5">It is a non-profit organisation located in Bangalore, Karnataka and provides professional guidance and counselling to callers from various parts of India to resolve personal and psychological problems.</p>
                      <h3 class="u-align-center u-text u-text-6"> Call: ​+91 80 23655557</h3>
                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-3">
                    <div class="u-container-layout u-valign-top u-container-layout-3">
                      <h3 class="u-text u-text-default u-text-7"> Connecting</h3>
                      <p class="u-text u-text-8"> Connecting… is a suicide prevention NGO for the youth. It aides young people through it’s programmes, seminars and of course the helpline itself. They are operational from 12pm – 8pm daily and they also have support for people who have lost close ones to suicide.</p>
                      <h3 class="u-align-center u-text u-text-9"> Call: ​(919)922001122</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-24-lg u-size-24-sm u-size-24-xl u-size-24-xs u-size-30-md">
                <div class="u-layout-row">
                  <div class="u-align-left u-container-style u-image u-layout-cell u-size-60 u-image-1" src="" data-image-width="1280" data-image-height="853" style="background-image: url('images/a817fb78980b9d519b0e1aa8cd03a1a1bbacba01b31b2524806c169a2585af8f2cf14455b74350e36155ac0ce8eab3ece95ca196d9523a20fd75b8_1280.jpg');">
                    <div class="u-container-layout u-valign-top u-container-layout-4" src=""></div>
                  </div>
                </div>
              </div>
              <div class="u-size-16-lg u-size-16-sm u-size-16-xl u-size-16-xs u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-5">
                    <div class="u-container-layout u-container-layout-5">
                      <img class="u-image u-image-default u-image-2" src="images/0d982c093084fc0b10786a8234100da7f7ca865929d9b649d0f6d5384976b86a1851f11d4031e38c7db92deba5996b884b585d389aaf7487569ca3_1280.jpg" alt="" data-image-width="1280" data-image-height="853">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80" id="sec-2f81" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><div class="u-align-left u-clearfix u-sheet u-sheet-1"></div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      
    </section>
  </body>
</html>