<div class="container-fluid navbar-style py-3">
  <div class="row">
    <div class="col-mx-10 col-12 mx-auto">


      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" style="font-size: 250%;" ;">Lets's Live</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/" style=" font-family: 'Poiret One', cursive;font-weight: bold;">Home</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/tips" style=" font-family: 'Poiret One', cursive;font-weight: bold;">Tips</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/video" style=" font-family: 'Poiret One', cursive;font-weight: bold;">video gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/consultation" style=" font-family: 'Poiret One', cursive;font-weight: bold;">Counsultation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact" style=" font-family: 'Poiret One', cursive;font-weight: bold;">Contact US</a>
              </li>
              
            </ul>

      </nav>
    </div>
  </div>
</div>